.carousel-section {
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
  gap: 2rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ededed;

    h1 {
      font-size: var(--step-0);
      border-bottom: 2px solid var(--green);
      display: flex;
      align-items: center;
      gap: 0.33rem;

      p {
        color: var(--green);
      }
    }

    > a {
      color: var(--green);
    }
  }

  .carousel {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--green);
      border-radius: 10px;
    }

    .card {
      scroll-snap-align: start;
    }
  }
}
