.home-page {
  .slider-container {
    margin-bottom: 1rem;
    .slick-slider {
      .slick-list {
        .slick-track {
          gap: 1rem;
          .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 468px;
            > * {
              width: 100%;
              height: 100%;

              * {
                &:focus-visible {
                  outline: none;
                  width: 100%;
                  height: 100%;
                }
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .slick-dots li button::before {
      color: var(--green);
    }
  }

  .promo-banner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title {
      margin: 0 var(--global-padding);
    }
    .promotional {
      img {
        padding: 0 var(--global-padding);
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ededed;

      h1 {
        border-bottom: 2px solid var(--green);
      }
    }
  }
}
