nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white);

  .top-header {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    background-color: var(--yellow);
    padding: 0.5rem var(--global-padding);
    font-size: var(--step--2);
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    >* {
      display: flex;
      gap: 0.25rem;
      color: var(--black);
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: var(--global-padding);
    gap: 1rem;
    justify-content: space-between;
    height: max-content;

    .logo {
      width: 250px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--global-padding);

      >a {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          min-height: 30px;
          height: 40px;
          object-fit: contain;
        }
      }
    }


    .user-info {
      display: flex;
      gap: 1rem;

      >* {
        display: flex;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        z-index: 3;

        >img {
          height: 100%;
          max-height: 20px;
          object-fit: cover;
        }
      }
    }
  }
}

// RESPONSIVE

@media (max-width: 768px) {
  nav {
    .header {
      display: grid;
      width: 100%;
      grid-template-areas:
        "logo user-info"
        "search search";

      .logo {
        grid-area: logo;
        width: max-content;
      }

      .search {
        grid-area: search;
        place-self: center;
        min-width: calc(100vw - (3 * var(--global-padding)));
      }

      .user-info {
        grid-area: user-info;
        justify-content: end;

        >* {
          .cart-header {
            >p {
              display: none;
            }
          }

          >p {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  nav {
    .top-header {
      .right {
        >a p {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  nav {
    .header {
      display: grid;
      width: 100%;
      gap: 1rem 0;
      grid-template-areas:
        "logo user-info"
        "search search";

      .logo {
        grid-area: logo;

        >a {
          img {
            width: max-content;
            max-width: 40vw;
            min-width: 162px;
            height: 30px;
          }
        }
      }

      .search {
        grid-area: search;
        place-self: center;
        min-width: calc(100vw - 2 * var(--global-padding));
      }

      .user-info {
        grid-area: user-info;
        justify-self: end;
      }
    }
  }
}

@media (max-width: 330px) {
  nav {
    .header {
      .logo {
        >a {
          img {
            display: none;
          }
        }
      }
    }
  }
}